/* цвет  заголовка и текста секций Benefits*/

.benefits{
  padding: 94px 0;
  @include mq(notDesktop){
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.benefits__list{
 @include mq(mobile-only){
  display: block;
  align-items: center; 
  }
  @include mq(tablet){
  width: 768px;
  display: flex;
  flex-wrap: wrap;
  // flex-basis: 50%;
  }
  @include mq(desktop){
  width: 100%;
  justify-content: center;
  }
}


.benefits__item {
  width: 270px;
  margin-right: 30px;
  @include mq(mobile-only){
    width: 450px;
    margin: 0;
}
  @include mq(tablet-only){
    width: 354px;
    margin: 15px;
}
}



.benefits__item:last-child {
  margin-right: 0;
}
/* добавляем изображение перед списком */

.benefits__icon {
  display: flex;
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* .benefits-item::before{
display: block;
content: "";
height: 120px;
background-repeat: no-repeat;
background-position: center;
background-color: var(--secondary-background-color);
margin-bottom: 30px;
border-radius: 4px;
} */
/* иконки benefits */
/* .benefits-item:nth-child(1)::before{background-image: url(../IMG/benefits/antenna\ 1.svg);} 
.benefits-item:nth-child(2)::before{background-image: url(../IMG/benefits/clock\ 1.svg);}
.benefits-item:nth-child(3)::before{background-image: url(../IMG/benefits/diagram\ 1.svg);}
.benefits-item:nth-child(4)::before{background-image: url(../IMG/benefits/astronaut\ 1.svg);}  */

