/* Оформления чем мы занимаемся */
.works {
    padding-bottom: 94px;
    @include mq(notDesktop){
      display: none;
    }
  }
  
  .works__list {
    display: flex;
    justify-content: center;
  }
  
  .works__item {
    position: relative;
    margin-right: 30px;
  }
  .works__item:last-child {
    margin-right: 0;
  }
  
 
  