// /* УТИЛИТЫ */

/* убираем точки в списке */
.list {
    list-style: none;
    /* убираем все падинги и маржены */
    margin: 0;
    padding: 0;
    /* убираем подчеркивание ссылок */
  }
  
  .link {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }