/* цвет основного текста #212121; */
/* цвет второичного текста #757575; */
/* logo color Акцент #2196F3; */
/* background color #E5E5E5; */
/* background color team #F5F4FA; */
/* background header & button color #FFFFFF; */
/* background footer #2F303A;*/
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --primary-background-color: #e5e5e5;
    --secondary-background-color: #f5f4fa;
    --header-background-color: #ffffff;
    --footer-background-color: #2f303a;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --header-border-color: #ececec;
    --border-color: #eeeeee;
    --social-link_color: #afb1b8;
  }